.usr-stats-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.usr-stats-container a {
    text-decoration: none;
    color: #000;
    min-width: fit-content;
    padding-right: 15px;
}

.usr-stats-container a:hover {
    cursor: pointer;
}